<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<title>Pending Emails</title>

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<!-- fileinput -->
<link href="vendor/fileinput/css/fileinput.min.css"
	rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/fragments :: sidebar"></div>
	
    	<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

      	<!-- Main Content -->
      	<div id="content">

        	<div th:replace="fragments/fragments :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Pending Emails</h1>
					<p class="mb-4">
						Pending Emails
					</p>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Emails</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Review</th>
<!-- 											<th>Ticket ID</th> -->
											<th>From</th>
											<th>Account</th>
											<th>Subject</th>
											<th>Sent Date</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="email : ${emails}">
											<td style="text-align: center;">
												<a th:href="@{/reviewemail/{id}(id=${email.id})}" rel="tooltip" data-placement="top" title="View Details" 
													class="btn btn-circle btn-sm btn-info"><i class="fas fa-eye"></i>
												</a>
											</td>
<!-- 											<td><a th:href="@{/reviewticket/{id}(id=${email.ticket.id})}" th:text="${'Ticket ID: ' + email.ticket.id}"></a></td> -->
											<td th:id="from +'-'+ ${email.id}" th:text="${email.fromEmail}"></td>
											<td th:class="${(#strings.contains(#strings.toLowerCase(email.toEmail),'care-test@jarir.com')) ? 'border-left-primary': ((#strings.contains(#strings.toLowerCase(email.toEmail),'care-test@jarirbookstore.com'))? 'border-left-info': 'border-left-warning')}" th:id="to +'-'+ ${email.id}" th:text="${email.toEmail}"></td>
											<td>
												<span th:id="subj +'-'+ ${email.id}" th:text="${email.subject}"></span>
												<i th:if="${email.emailAttachments.size() > 0}" class="fas fa-paperclip"></i>
											</td>
											<td th:id="sentDate +'-'+ ${email.id}" th:text="${email.sentDate}"></td>
											<td th:id="status +'-'+ ${email.id}" th:text="${email.status}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Jarir Bookstore 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/fragments :: logoutModalFragment"></div>
	
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		// Activate Tooltips for all rel=tooltip
		$('[rel="tooltip"]').tooltip({trigger: "hover"});
		
		$('#dataTable').DataTable({
			order: [],
			"columnDefs": [
				{ "width": "38px", "targets": 0, orderable: false }
			]
		});
		
		// Update Navigation Buttons
		$("#pendingNav").addClass('active');
		$("#emailsNavItem").addClass('active');
		$("#emailsMenu").trigger('click');
	});
	/*]]>*/
	</script>

</body>

</html>
