<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<title>Review Email</title>

<!-- Custom fonts for this template -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">

<!-- Easy Autocomplete -->
<!-- CSS file -->
<link rel="stylesheet" th:href="@{/vendor/easyautocomplete/easy-autocomplete.min.css}"> 

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" th:href="@{/vendor/easyautocomplete/easy-autocomplete.themes.min.css}">

<!-- fileinput -->
<link th:href="@{/vendor/fileinput/css/fileinput.min.css}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/fragments :: sidebar"></div>
	
    	<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

      	<!-- Main Content -->
      	<div id="content">

        	<div th:replace="fragments/fragments :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Review Email</h1>
					<p class="mb-4">
						Review
					</p>

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Email</h6>
						</div>
						<div class="card-body">
<!-- 							<div class="form-group row"> -->
<!-- 								<h6> -->
<!-- 									<strong>Ticket</strong> -->
<!-- 								</h6> -->
<!-- 							</div> -->
<!-- 							<div class="form-group row"> -->
<!-- 								<label for="fromVal" class="col-sm-2 col-form-label"><strong>Ticket ID:</strong></label> -->
<!-- 								<div class="col-sm-10"> -->
<!-- 									<input type="text" th:value="${email.ticket.id}" readonly class="form-control-plaintext" -->
<!-- 										id="fromVal"> -->
<!-- 								</div> -->
								<!-- Was commented-->
 <!-- 								th:if="${email.ticket.status != 'Closed' && email.status == 'Pending'}" --> 
<!-- 								<label class="col-sm-2 col-form-label"><strong>Change Ticket:</strong></label> -->
<!-- 								<div class="col-sm-10"> -->
<!-- 									<div class="col-sm-2"> -->
<!-- 										<button data-toggle="modal" data-target="#changeTicketModal" class="btn btn-primary form-control-plaintext" >Change Ticket ...</button> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								<label for="toVal" class="col-sm-2 col-form-label"><strong>Ticket Create Date:</strong></label> -->
<!-- 								<div class="col-sm-10"> -->
<!-- 									<input type="text" th:value="${email.ticket.createDate}" readonly class="form-control-plaintext" -->
<!-- 										id="toVal"> -->
<!-- 								</div> -->
<!-- 								<label for="subjVal" class="col-sm-2 col-form-label"><strong>Ticket Status:</strong></label> -->
<!-- 								<div class="col-sm-10"> -->
<!-- 									<input type="text" th:value="${email.ticket.status}" readonly class="form-control-plaintext" -->
<!-- 										id="subjVal"> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<hr /> -->
							<div class="form-group row">
								<h6>
									<strong>Email Envelope</strong>
								</h6>
							</div>
							<div class="form-group row">
								<label for="fromVal" class="col-sm-2 col-form-label"><strong>From:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.fromEmail}" readonly class="form-control-plaintext"
										id="fromVal">
								</div>
								<label for="toVal" class="col-sm-2 col-form-label"><strong>Account:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.toEmail}" readonly class="form-control-plaintext"
										id="toVal">
								</div>
								<label for="subjVal" class="col-sm-2 col-form-label"><strong>Subject:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.subject}" readonly class="form-control-plaintext"
										id="subjVal">
								</div>
								<label for="sentDateVal"
									class="col-sm-2 col-form-label"><strong>Sent Date:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.sentDate}" readonly class="form-control-plaintext"
										id="sentDateVal">
								</div>
							</div>
							<hr />
							<div class="form-group row">
								<h6>
									<strong>Email Body</strong>
								</h6>
							</div>
							<div class="form-group row">
								<label for="bodyVal" class="col-sm-2 col-form-label"><strong>Body:</strong></label>
								<div class="col-sm-10">
									<textarea rows="10" th:text="${email.body}" readonly class="form-control"
										id="bodyVal"></textarea>
								</div>
								
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10"></div>
								

								<label class="col-sm-2 col-form-label"><strong>Attachments</strong></label>
								<div class="col-sm-10">
									<input id="attachPreview" name="attachPreview[]" type="file" multiple="multiple" />
								</div>
								
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10"></div>
								
							</div>
							<hr />
							<div class="form-group row">
								<h6>
									<strong>Action Details</strong>
								</h6>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label"><strong>Status:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.status}" readonly class="form-control-plaintext"
										id="actionStatusVal">
								</div>
							</div>
							<div th:if="${email.emailAction != null}" class="form-group row">
								
								<label class="col-sm-2 col-form-label"><strong>Resolution:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.emailAction.emailResolution == null ? 'No Action' : email.emailAction.emailResolution.name}" readonly class="form-control-plaintext"
										id="resolutionNamVal">
								</div>
								
								<label class="col-sm-2 col-form-label"><strong>Action By:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.emailAction.userId}" readonly class="form-control-plaintext"
										id="resolutionUsrVal">
								</div>
								
								<label class="col-sm-2 col-form-label"><strong>Action Date:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.emailAction.createDate}" readonly class="form-control-plaintext"
										id="actionDateVal">
								</div>
								
								<label class="col-sm-2 col-form-label"><strong>Forward To:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${email.emailAction.forwardTo}" readonly class="form-control-plaintext"
										id="actionDateVal">
								</div>
								
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10"></div>
								
								<label  th:if="${email.status != 'NoAction'}" class="col-sm-2 col-form-label"><strong>Response:</strong></label>
								<div th:if="${email.status != 'NoAction'}" class="col-sm-10">
									<textarea th:style="${email.emailAction.language == 'Arabic' ? 'text-align:right;' : ''}" rows="10" th:text="${response}" readonly class="form-control"></textarea>
								</div>
							</div>
							<div th:if="${email.emailAction == null}" class="form-group row">
								
								<div style="text-align:center;" class="col-sm-12">
									<!-- if Template is 'None' -->
									<button type="button" class="noactionBtn btn btn-danger"><i class="fas fa-trash"></i> Junk/Ignore/No Action</button>
								</div>
								
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10"></div>
								
								<label class="col-sm-2 col-form-label"><strong>Response Template Category:</strong></label>
								<div class="col-sm-10">
									<div class="btn-group">
										<button type="button" id="templateCategoryBtn"
											class="btn btn-info dropdown-toggle" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">None</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" id="templatecategory-0" href="#">None</a>
											<th:block th:each="templateCategory : ${templatesCategories}">
												<a th:attr="data-templatecategoryid=${templateCategory.id}" th:id="templatecategory-+${templateCategory.id}" class="dropdown-item" href="#" th:text="${templateCategory.name}"></a>
											</th:block>
										</div>
									</div>
									<span id="templateCatReqMsg" style="display:none; margin-top: .25rem;font-size: 80%;color: #e74a3b;">Template Category is Required</span>
								</div>
								
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10"></div>
								
								<label class="col-sm-2 col-form-label"><strong>Response Template:</strong></label>
								<div id="templates" class="col-sm-10">
									<span id="templateReqMsg" style="display:none; margin-top: .25rem;font-size: 80%;color: #e74a3b;">Template is Required</span>
								</div>
								
								<div id="responsediv" class="col-sm-12 row" style="display:none;">
								
									<label class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10"></div>
									
									<label class="col-sm-2 col-form-label"><strong>Response Language:</strong></label>
									<div class="col-sm-10">
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
										  <label class="langBtn btn btn-info active">
										    <input id="araLang" type="radio" name="options" autocomplete="off" checked>Arabic</input>
										  </label>
										  <label class="langBtn btn btn-info">
										    <input id="engLang" type="radio" name="options" autocomplete="off">English</input>
										  </label>
										</div>
									</div>
									
									<label class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10"></div>
									
									<label for="modalTemplateBodyVal" class="col-sm-2 col-form-label"><strong>Template
											Body:</strong></label>
									<div class="col-sm-10">
										<textarea rows="10" readonly class="form-control"
											id="modalTemplateBodyVal"></textarea>
									</div>
									<label for="modalEmailFromVal" class="col-sm-2 col-form-label"><strong>Template Parameters:</strong></label>
									<div class="col-sm-10">
										<div id="paramsDiv">
										</div>
									</div>
									
									<label class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10"></div>
									
									<label class="col-sm-2 col-form-label"><strong>Forward To:</strong></label>
									<div class="col-sm-10">
										<input id="forwardTo" class="form-control" />
									</div>
									
									<label class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10"></div>
									
								</div>
								
								<label class="col-sm-2"></label>
								<div class="col-sm-10"></div>
								<label class="col-sm-2"></label>
								<div class="col-sm-10"></div>
								<label class="col-sm-2"></label>
								<div class="col-sm-10"></div>

								<div class="col-sm-12" style="text-align: center;">
									<div style="display:none;" class="resBtnGroup btn-group">
										<button type="button" id="actionBtn"
											class="btn btn-info dropdown-toggle" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">Tags</button>
										<div class="dropdown-menu">
											<th:block th:each="resolution : ${resolutions}">
												<a id="action-offers" class="dropdown-item" th:attr="data-id=${resolution.id}" href="#" th:text="${resolution.name}"></a>
											</th:block>
										</div>
									</div>
									<!-- if Template is not 'None' -->
									<a style="display:none;" href="#" class="sendBtn btn btn-primary btn-icon-split"> <span
										class="icon text-white-50"> <i class="fas fa-paper-plane"></i>
										</span> <span class="text">Send</span>
									</a>
									<br />
									<span id="actionReqMsg" style="display:none; margin-top: .25rem;font-size: 80%;color: #e74a3b;">Tag is Required</span>
								</div>
								
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10"></div>
								
							</div>
							<hr />
							<!-- <div class="col-sm-12" style="text-align:center;">
								<a th:href="@{/reviewticket/{id}(id=${email.ticket.id})}" class="backBtn btn btn-primary" style="color:white;"><i class="fas fa-arrow-left"></i> Back to Ticket</a>
							</div> -->
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Jarir Bookstore 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Change Ticket Modal -->
	<div class="modal fade" id="changeTicketModal" tabindex="-1" role="dialog"
		aria-labelledby="changeTicketModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="changeTicketModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
					<label style="margin-top:3px;" class="col-sm-2 col-form-label"><strong>Ticket ID:</strong></label>
					<div class="col-8 dropdown">
						<button th:text="${email.ticket.id + ' (' + email.ticket.status + ')'}"
							class="btn btn-info dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a th:each="ticket: ${tickets}" class="dropdown-item" href="#"
								th:attr="data-ticketid=${ticket.id}" th:id="ticket-+${ticket.id}" th:text="${ticket.id + ' (' + ticket.status + ')'}"></a>
						</div>
					</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<form action="#" th:action="@{/linktonewticket}" th:object="${ticketLinkUpdateDto}" method="post">
						<button type="submit" class="btn btn-primary">Link to New Ticket</button>
						<input type="hidden" id="email" name="email" th:value="${email.id}" />
					</form>
					<form action="#" th:action="@{/linktoticket}" th:object="${ticketLinkUpdateDto}" method="post">
					    <button type="submit" class="btn btn-primary">Link to Selected Ticket ID</button>
						<input type="hidden" id="email" name="email" th:value="${email.id}" />
						<input type="hidden" id="ticketId" name="ticketId" th:value="${ticketId}" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/fragments :: logoutModalFragment"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	
	<!-- Easy Autocomplete -->
	<script th:src="@{/vendor/easyautocomplete/jquery.easy-autocomplete.min.js}"></script> 

	<!-- fileinput -->
	<script th:src="@{/vendor/fileinput/js/plugins/piexif.min.js}"></script>
	<script th:src="@{/vendor/fileinput/js/plugins/sortable.min.js}"></script>
	<script th:src="@{/vendor/fileinput/js/plugins/purify.min.js}"></script>
	<script th:src="@{/vendor/fileinput/js/fileinput.min.js}"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script th:src="@{/vendor/fileinput/themes/fas/theme.min.js}"></script>
	

	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		
		var token = $("meta[name='_csrf']").attr("content");
  		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
		
		var serverContext = [[@{/}]];
		
		// Activate Tooltips for all rel=tooltip
		$('[rel="tooltip"]').tooltip({trigger: "hover"});
		
		$('#dataTable').DataTable({
			order: [],
			"columnDefs": [
				{ "width": "35px", "targets": 0, orderable: false }
			]
		});
		
		var selectedLang = 'Arabic';
		$("#modalTemplateBodyVal").css('text-align', 'right');
		$("#modalTemplateBodyVal").css('direction', 'rtl');
		//Update Language
		$(".langBtn").click( function() {
		    selectedLang = $.trim($(this).text());
		    if(selectedLang == 'Arabic' && !$(this).hasClass('active') ){
		    	selectedLang = 'Arabic';
		    	$("#modalTemplateBodyVal").val($("#"+selectedTemplateObjId).data('bodyara'));
		    	$("#modalTemplateBodyVal").css('text-align', 'right');
		    	$("#modalTemplateBodyVal").css('direction', 'rtl');
		    } else if(selectedLang == 'English' && !$(this).hasClass('active') ){
		    	selectedLang = 'English';
		    	$("#modalTemplateBodyVal").val($("#"+selectedTemplateObjId).data('bodyeng'));
		    	$("#modalTemplateBodyVal").css('text-align', 'left');
		    	$("#modalTemplateBodyVal").css('direction', 'ltr');
		    }
		});
		
		var selectedTemplateCategoryId = "0";
		var selectedTemplateId = "0";
		var selectedActionId = '';
		var selectedTemplateObjId = null;
		var selectedForwardTo = '';
		
		// On Dropdown (Template and Action) Shown value on change
		$('body').on('click', '.dropdown-item',  function($e){
			$e.preventDefault();
			
			var btnObj = $(this).parent().siblings('button');
			$(btnObj).text($(this).text());
			$(btnObj).val($(this).text());

			
			var type = $(this).attr('id').split('-')[0];
			if(type == 'ticket'){
				selectedTicketId = $(this).data('ticketid');
				$('#ticketId').val(selectedTicketId);
			} else if(type=='action'){
				selectedActionId = $(this).data('id');
				$("#actionReqMsg").hide();
			} else if(type=='templatecategory'){
				var catId = $(this).attr('id').split('-')[1];
				selectedTemplateCategoryId = catId;
				resetForNoneTemplates();
				if(catId =="0"){
					$("#templates").html("");
					selectedTemplateId = "0";
				} else {
					updateTemplates(selectedTemplateCategoryId);	
				}

			} else if(type=='template'){
				//When Template Selected
				$("#templateReqMsg").hide();
				selectedTemplateId = $(this).attr('id').split('-')[1];
				selectedTemplateObjId = $(this).attr('id');
				if(selectedTemplateId!="0"){
					//When Actual Template (Not None)
					$('.sendBtn').show();
					$('.resBtnGroup').show();
					$('.noactionBtn').hide();
					$("#responsediv").show();
					if(selectedLang=='Arabic')
						$("#modalTemplateBodyVal").val($(this).data('bodyara'));
					else
						$("#modalTemplateBodyVal").val($(this).data('bodyeng'));
					
					$('#paramsDiv').html('');
					var count = $(this).data('count');
					var objLine = '';
					for(var i  = 0 ; i < count; i++){
						objLine += '<label class="col-sm-2 col-form-label"><strong>Parameter :</strong><span=>$'+(i+1)+'</span></label>';
						objLine += '<input type="text" class="params form-control" id="param-'+(i+1)+'">';
					}
					$('#paramsDiv').append(objLine);
				} else {
					//When None
					resetForNoneTemplates();
				}
			}			
		});
		
		var options = {
			//url: "resources/countries.json",
			url: function(emailToSearch) {
				return serverContext+'autocompleteEmail?emailToSearch=' + emailToSearch;
			},
			getValue: function(element) {
				var elName = element.firstName;
				var elEmail = element.email;
				return elName + " [" + elEmail + "] ";
			},
			theme: "boostrap",
			adjustWidth: false,
			list: {
				match: {
					enabled: true
				},
				onChooseEvent: function(){
					selectedForwardTo = $("#forwardTo").getSelectedItemData().email;
				},
				showAnimation: {
					type: "fade",
					time: 400,
					callback: function() {}
				},
				hideAnimation: {
					type: "slide",
					time: 400,
					callback: function() {}
				}
			}
		};
		
		$("#forwardTo").easyAutocomplete(options);
		
		function resetForNoneTemplates(){
			resetResponseFields();
			$("#responsediv").hide();
			$('.resBtnGroup').hide();
			$('.sendBtn').hide();
			$('.noactionBtn').show();
			$("#actionReqMsg").hide();
			$("#templateReqMsg").hide();
		}
		
		function resetResponseFields(){
			$('#paramsDiv').html('');
			$("#modalTemplateBodyVal").val('');
			selectedTemplateId = "0";
			selectedActionId = '';
			selectedLang = 'Arabic';
			selectedForwardTo = '';
			$('#forwardTo').val('');
			$('#araLang').parent().addClass('active');
			$('#engLang').parent().removeClass('active');
		}
		
		function updateTemplates(categoryId){
			if(categoryId == "0")
				return;
			
			$.getJSON(serverContext+"gettemplates", {
				templateCategoryId: categoryId,
                ajax : 'true'
            }, function(data) {
            	var html = '';
                html += '<div class="btn-group">';
                html += '<button type="button" id="templateBtn"'+
							'class="btn btn-info dropdown-toggle" data-toggle="dropdown"'+
							'aria-haspopup="true" aria-expanded="false">None</button>';
				html+= '<div class="dropdown-menu">';
				html+= '<a class="dropdown-item" id="template-0" href="#">None</a>'

				for (var i = 0; i < data.length; i++) {
					html+='<a data-templateid="'+data[i].id+'" data-count="'+data[i].parametersCountEng+'" data-bodyeng="'+data[i].bodyEnglish+'" data-bodyara="'+data[i].bodyArabic+'" id="template-'+data[i].id+'" class="dropdown-item" href="#">'+data[i].name+'</a>';
				}
				html+= '</div>';
				html+= '</div>';
                
                $('#templates').html(html);
                
            });
		}
		
		var ticketId = [[${email.ticket.id}]]
		var emailId = [[${email.id}]]
		
		$(".noactionBtn").click( function($e) {
			$e.preventDefault();
			
			var data = buildJsonActionData();
			$.ajax({ 
			    url: serverContext + 'emailnoaction', 
			    type: 'POST', 
			    dataType: 'json', 
			    data: data, 
			    contentType: 'application/json',
			    mimeType: 'application/json',
			    success: function(data) { 
			    	if(data.response == 1)
			    		window.location.href = serverContext + 'reviewticket/' + ticketId; 
			    },
			    error:function(data,status,er) {
			    	alert("Error: "+er);
			    }
			});
		});
		
		$(".sendBtn").click( function($e) {
			$e.preventDefault();
			processAction();
		});
		
		function buildJsonActionData(){
			var status = 'Replied';
			
			var params = "[";
			var prefix = "";
			$('.params').each(function(){
				params += (prefix+ ("\""+$(this).val()+"\""));
				prefix = ",";
			});
			params += "]";
			
			var templ = ", \"templateId\":0";
			if(selectedTemplateId!="0")
				templ = ", \"templateId\":"+selectedTemplateId;
			
			var reso = ", \"resolutionId\":0";
			if(selectedActionId!='')
				reso = ", \"resolutionId\":"+selectedActionId;
			
			var forwardTo = ", \"forwardTo\":\"\"";
			if(selectedForwardTo.trim()!=''){
				forwardTo = ", \"forwardTo\":\""+selectedForwardTo+"\"";
				status += ' and Forwarded';
			}
			
			var jsonData= "{\"status\": \""+status+"\", \"emailId\":"+ emailId + templ + forwardTo + reso 
				+ ", \"params\": "+params+", \"lang\":\""+selectedLang+"\"}";
				
			return jsonData;
		}
		
		var emailActionPath =[[@{/emailaction}]];
		
		function processAction(){
			//Validate
			var stop = false;
			if(selectedActionId==''){
				$("#actionReqMsg").show();
				stop = true;
			}
			if(selectedTemplateId=="0"){
				$("#templateReqMsg").show();
				stop = true;
			}
			if(stop)
				return;
			
			var data = buildJsonActionData();
			$.ajax({ 
			    url: emailActionPath, 
			    type: 'POST', 
			    dataType: 'json', 
			    data: data, 
			    contentType: 'application/json',
			    mimeType: 'application/json',
			    success: function(data) { 
			    	if(data.response == 1)
			    		window.location.href = serverContext + 'reviewticket/' + ticketId; 
			    },
			    error:function(data,status,er) {
			        alert("Error: "+er);
			    }
			});
		}
		
		function findEmailAttachmentsByEmailId(){
			return [[${email.emailAttachments}]];
		}
		
		function buildPreviewImages(attachments){
			var initPreview = [];
			for(var i = 0 ; i < attachments.length; i++){
				initPreview.push(serverContext + 'getImage/' + attachments[i].id);
			}
			return initPreview;
		}
		
		function buildPreviewImagesConfig(attachments){
			var initPreviewConfig = [];
			for(var i = 0 ; i < attachments.length; i++){
				var filename = attachments[i].filename;
				initPreviewConfig.push({type: determineType(filename), caption: filename, width: "120px", key: (i+1), downloadUrl: serverContext + 'getImage/' + attachments[i].id});
			}
			return initPreviewConfig;
		}
		
		function determineType(filename){
			var type = 'object';
			var extension = filename.split('.').pop();
			if(extension === 'pdf'){
				return "pdf";
			} else if(extension.match(/(gif|png|jpe?g)$/i)){
				return "image";
			} else if(extension.match(/(docx?|xlsx?|pptx?|pps|potx?)$/i)){
				return "office";
			} else if(extension.match(/(rtf|docx?|xlsx?|pptx?|pps|potx?|ods|odt|pages|ai|dxf|ttf|tiff?|wmf|e?ps)$/i)){
				return "gdocs";
			} else if(extension.match(/(log|txt|md|csv|nfo|php|ini)$/i)){
				return "text";
			} else if(extension.match(/(htm|html)$/i)){
				return "html";
			}
			
			return type;
		}
		
		function buildPreviewObject(){
			var attachments = findEmailAttachmentsByEmailId();
			$("#attachPreview").fileinput('destroy').fileinput({
				theme: 'fas',
				overwriteInitial: true,
				dropZoneEnabled: false,
				initialPreview: buildPreviewImages(attachments),
				initialPreviewAsData: true,
			    initialPreviewFileType: 'image',
			    initialPreviewConfig: buildPreviewImagesConfig(attachments),
			    purifyHtml: true,
			    fileActionSettings: {showRemove: false,showUpload: false,showZoom: true,showDrag: false},
			    showRemove: false,
			    showUpload: false,
			    showCancel: false,
			    showBrowse: false,
			    showCaption: false,
			    showClose: false
			});	
		}
		
		buildPreviewObject();
		
		var defaultTicketId = [[${email.ticket.id}]];
		var defaultTicketStatus = [[${email.ticket.status}]];
		var selectedTicketId = defaultTicketId;
		$('#ticketId').val(selectedTicketId);
		$('#changeTicketModal').on('hidden.bs.modal', function () {
			$('#dropdownMenuButton').val(defaultTicketId);
			$('#dropdownMenuButton').text(defaultTicketId + ' (' +defaultTicketStatus + ')');
		})
	});
	/*]]>*/
	</script>

</body>

</html>
