<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<title>Closed Tickets</title>

<!-- Custom fonts for this template -->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<!-- fileinput -->
<link href="vendor/fileinput/css/fileinput.min.css"
	rel="stylesheet">

<!-- Easy Autocomplete -->
<!-- CSS file -->
<link rel="stylesheet" th:href="@{vendor/easyautocomplete/easy-autocomplete.min.css}"> 

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" th:href="@{vendor/easyautocomplete/easy-autocomplete.themes.min.css}"> 

<style>
.btn-primary-nohover:hover{
	background-color: #4e73df;
	border-color:#4e73df;
	cursor: default !important;
}
.btn-primary-nohover:active{
	background-color: #4e73df !important;
	border-color:#4e73df !important;
}
.btn-success-nohover:hover{
	background-color: #1cc88a;
	border-color:#1cc88a;
	cursor: default !important;
}
.btn-success-nohover:active{
	background-color: #1cc88a !important;
	border-color:#1cc88a !important;
}
.btn-info-nohover:hover{
	background-color: #36b9cc;
	border-color:#36b9cc;
	cursor: default !important;
}
.btn-info-nohover:active{
	background-color: #36b9cc !important;
	border-color:#36b9cc !important;
}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/fragments :: sidebar"></div>
	
    	<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

      	<!-- Main Content -->
      	<div id="content">

        	<div th:replace="fragments/fragments :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Closed Tickets</h1>
					<p class="mb-4">
						Closed Tickets
					</p>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>						
										<tr>
											<th>Review</th>
											<th>Ticket ID</span></th>
											<th>Create Date</th>
											<th>Update Date</th>
											<th>Details</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="ticket : ${tickets}">
											<td style="text-align: center;">
												<a th:href="@{/reviewticket/{id}(id=${ticket.id})}" class="btn btn-success btn-sm btn-circle" rel="tooltip" data-placement="top" title="Review">
							                      <i class="fas fa-bolt"></i>
							                    </a>
											</td>
											<td>
												<span th:text="${ticket.id}"></span>
<!-- 												<span class="badge badge-secondary" th:if="${ticket.hasUpdates}">Updated</span> -->
											</td>
											<td th:text="${ticket.createDate}"></td>
											<td th:text="${ticket.updateDate}"></td>
											<td>
												<span class="btn btn-primary btn-primary-nohover btn-icon-split">
								                    <span class="icon text-white-50" th:text="${ticket.emails.size()}"></span>
								                	<span class="text">Emails</span>
								                </span>
								                <span class="btn btn-success btn-success-nohover btn-icon-split">
								                    <span class="icon text-white-50" th:text="${ticket.actions.size()}"></span>
								                	<span class="text">Actions</span>
								                </span>
								                <span class="btn btn-info btn-info-nohover btn-icon-split">
								                    <span class="icon text-white-50" th:text="${ticket.comments.size()}"></span>
								                	<span class="text">Comments</span>
								                </span>
											</td>
											<td th:text="${ticket.Status}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Jarir Bookstore 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/fragments :: logoutModalFragment"></div>
	
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		// Activate Tooltips for all rel=tooltip
		$('[rel="tooltip"]').tooltip({trigger: "hover"});
		
		$('#dataTable').DataTable({
			"order": [2],
			"columnDefs": [
				{ "width": "38px", "targets": 0, orderable: false }
			]
		});
		// Update Navigation Buttons
		$("#closedTicketsNav").addClass('active');
		$("#ticketsNavItem").addClass('active');
		$("#ticketsMenu").trigger('click');
	});
	
	/*]]>*/
	</script>

</body>

</html>
