<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Review Ticket</title>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" -->
<!-- 	type="text/css"> -->

<!-- Custom fonts for this template -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
	
<style>
.card-inner{
    margin-left: 4rem;
}
</style>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/fragments :: sidebar"></div>
	
    	<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

      	<!-- Main Content -->
      	<div id="content">

        	<div th:replace="fragments/fragments :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Review Ticket</h1>
					<p class="mb-4">
						Review
					</p>

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Ticket</h6>
						</div>
						<div class="card-body">
							<div class="form-group row">
								<h6>
									<strong>Details</strong>
								</h6>
							</div>
							<div class="form-group row">
								<label for="fromVal" class="col-sm-2 col-form-label"><strong>Create Date:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${ticket.createDate}" readonly class="form-control-plaintext"
										id="fromVal">
								</div>
								<label for="toVal" class="col-sm-2 col-form-label"><strong>Updated Date:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${ticket.updateDate}" readonly class="form-control-plaintext"
										id="toVal">
								</div>
								<label for="subjVal" class="col-sm-2 col-form-label"><strong>Status:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${ticket.status}" readonly class="form-control-plaintext"
										id="subjVal">
								</div>
								<label th:if="${ticket.status != 'Closed'}"
									class="col-sm-2 col-form-label"><strong>Close Ticket:</strong></label>
								<div th:if="${ticket.status != 'Closed'}" class="col-sm-10">
									<div th:if="${ticket.status != 'Closed'}" class="col-sm-2">
										<a th:href="@{/markticketclosed/__${ticket.id}__}" class="btn btn-danger form-control-plaintext" >Close</a>
									</div>
								</div>
								<label th:if="${cannotClose}" class="col-sm-2 col-form-label"></label>
								<div style="margin-top:15px;" th:if="${cannotClose}" class="col-sm-10">
									<div class="col-sm-3">
										<div class="alert alert-danger" role="alert" th:text="${cannotClose}"></div>
									</div>
								</div>
								
								<label for="sentDateVal"
									class="col-sm-2 col-form-label"><strong>Closed Date:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${ticket.closedDate}" readonly class="form-control-plaintext"
										id="sentDateVal">
								</div>
								<label for="recDateVal"
									class="col-sm-2 col-form-label"><strong>Closed By:</strong></label>
								<div class="col-sm-10">
									<input type="text" th:value="${ticket.closedBy}" readonly class="form-control-plaintext"
										id="recDateVal">
								</div>
							</div>
							<hr />
							<div class="form-group row">
								<h6>
									<strong>Action History</strong>
								</h6>
							</div>
							<div class="form-group row">
								<div class="table-responsive">
									<table class="table table-bordered" id="actionsDataTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th>Date</th>
												<th>Action</th>
												<th>User</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="action : ${ticket.actions}">
												<td th:text="${action.createDate}"></td>
												<td th:text="${action.action}"></td>
												<td th:text="${action.userId}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<hr />
							<div class="form-group row">
								<h6>
									<strong>Emails</strong>
								</h6>
							</div>
							<div class="form-group row"></div>
						
							<div class="table-responsive">
								<table class="table table-bordered" id="emailsDataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Review</th>
											<th>From</th>
											<th>Account</th>
											<th>Subject</th>
											<th>Sent Date</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="emailEntry : ${ticket.emails}">
											<td style="text-align: center;">
												<a th:href="@{/reviewemail/{id}(id=${emailEntry.id})}" rel="tooltip" data-placement="top" title="View Details" 
													class="btn btn-circle btn-sm btn-info"><i class="fas fa-eye"></i>
												</a>
											</td>
											<td th:id="from +'-'+ ${emailEntry.id}" th:text="${emailEntry.fromEmail}"></td>
											<td th:class="${(#strings.contains(#strings.toLowerCase(emailEntry.toEmail),'care-test@jarir.com')) ? 'border-left-primary': ((#strings.contains(#strings.toLowerCase(emailEntry.toEmail),'care-test@jarirbookstore.com'))? 'border-left-info': 'border-left-warning')}" th:id="to +'-'+ ${emailEntry.id}" th:text="${emailEntry.toEmail}"></td>
											<td>
												<span th:id="subj +'-'+ ${emailEntry.id}" th:text="${emailEntry.subject}"></span>
												<i th:if="${emailEntry.emailAttachments.size() > 0}" class="fas fa-paperclip"></i>
											</td>
											<td th:id="sentDate +'-'+ ${emailEntry.id}" th:text="${emailEntry.sentDate}"></td>
											<td th:id="recDate +'-'+ ${emailEntry.id}" th:text="${emailEntry.status}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group row">
								<h6>
									<strong>Add Comment</strong>
								</h6>
							</div>
							<!--  Add comment form -->
						    <form class="form-horizontal" th:object="${comment}" method="post" action="#" th:action="@{/addcomment/{ticketId}(ticketId=${ticket.id})}">
						        <div class="row">
						            <div class="col-md-1 field-label-responsive">
						                <label></label>
						            </div>
						            <div class="col-md-10">
						                <div class="form-group">
						                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
						                        <div class="input-group-addon" style="width: 2.6rem"></div>
						                        <textarea th:field="*{text}" rows="10" class="form-control" placeholder="Comment ..." ></textarea>
						                    </div>
						                </div>
						                <div id="commentErrors" th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="text-align:center;color: #e74a3b;"></div>
						                <br />
						            </div>
						        </div>
						        <div class="d-flex justify-content-center">
									<button type="submit" class="btn text-white btn-primary"> <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;Add Comment</button>
								</div>
					        </form>
							
							<div class="form-group row">
								<h6>
									<strong>Comments</strong>
								</h6>
							</div>
							<div class="container">
								<div th:each="comment: ${ticket.comments}" class="card" style="margin-bottom: 15px;">
								    <div class="card-body">
								        <div class="row">
							        	    <div class="col-md-2">
							        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
							        	        <p style="padding-top:3px;" class="text-secondary text-center" th:text="${comment.createDate}"></p>
							        	    </div>
							        	    <div class="col-md-10">
							        	        <p>
							        	            <span class="float-left" style="color:#4e73df"><strong th:text="${comment.userId}"></strong></span>
							        	       </p>
							        	       <div class="clearfix"></div>
							        	       <p th:text="${comment.text}"></p>
							        	    </div>
								        </div>
								    </div>
								</div>
							</div>
							<hr />
							<div class="col-sm-12" style="text-align:center;">
								<a th:href="@{/pendingtickets}" class="backBtn btn btn-primary" style="color:white;"><i class="fas fa-arrow-left"></i> Back to Pending Tickets</a>
							</div>
<!-- 							<div class="container"> -->
<!-- 	  							<div class="row"> -->
<!-- 		    						<div class="col-md-8"> -->
<!-- 										<section class="comment-list"> -->
<!-- 											<article class="row"> -->
<!-- 												<div class="col-md-2 col-sm-2 hidden-xs"> -->
<!-- 													<figure class="thumbnail"> -->
<!-- 														<img class="img-responsive" -->
<!-- 															src="https://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" /> -->
<!-- 														<figcaption class="text-center">username</figcaption> -->
<!-- 													</figure> -->
<!-- 												</div> -->
<!-- 												<div class="col-md-10 col-sm-10"> -->
<!-- 													<div class="panel panel-default arrow left"> -->
<!-- 														<div class="panel-body"> -->
<!-- 															<header class="text-left"> -->
<!-- 																<div class="comment-user"> -->
<!-- 																	<i class="fa fa-user"></i> That Guy -->
<!-- 																</div> -->
<!-- 																<time class="comment-date" datetime="16-12-2014 01:05"> -->
<!-- 																	<i class="fa fa-clock-o"></i> Dec 16, 2014 -->
<!-- 																</time> -->
<!-- 															</header> -->
<!-- 															<div class="comment-post"> -->
<!-- 																<p>Lorem ipsum dolor sit amet, consectetur adipisicing -->
<!-- 																	elit, sed do eiusmod tempor incididunt ut labore et dolore -->
<!-- 																	magna aliqua. Ut enim ad minim veniam, quis nostrud -->
<!-- 																	exercitation ullamco laboris nisi ut aliquip ex ea commodo -->
<!-- 																	consequat.</p> -->
<!-- 															</div> -->
<!-- 															<p class="text-right"> -->
<!-- 																<a href="#" class="btn btn-default btn-sm"><i -->
<!-- 																	class="fa fa-reply"></i> reply</a> -->
<!-- 															</p> -->
<!-- 														</div> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</article> -->
<!-- 										</section> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<!-- 							<label class="col-sm-2 col-form-label"><strong>Username:</strong></label> -->
<!-- 							<div class="col-sm-10"> -->
<!-- 								<input type="text" th:value="${comment.userId}" readonly -->
<!-- 									class="form-control-plaintext" id="recDateVal"> -->
<!-- 							</div> -->
<!-- 							<label class="col-sm-2 col-form-label"><strong>Date:</strong></label> -->
<!-- 							<div class="col-sm-10"> -->
<!-- 								<input type="text" th:value="${ticket.closedBy}" readonly -->
<!-- 									class="form-control-plaintext" id="recDateVal"> -->
<!-- 							</div> -->
<!-- 							<label class="col-sm-2 col-form-label"><strong>Text:</strong></label> -->
<!-- 							<div class="col-sm-10"> -->
<!-- 								<input type="text" th:value="${ticket.closedBy}" readonly -->
<!-- 									class="form-control-plaintext" id="recDateVal"> -->
<!-- 							</div> -->
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Jarir Bookstore 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/fragments :: logoutModalFragment"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<script>
	$(document).ready(function() {
// 		alert($('#commentErrors').attr('id'));
// 		alert($('#commentErrors') !== undefined)
		if($('#commentErrors').attr('id') !== undefined){
			$("html, body").animate({scrollTop: $('#text').offset().top }, 2000);
		}
		
		// Activate Tooltips for all rel=tooltip
		$('[rel="tooltip"]').tooltip({trigger: "hover"});
		
		$('#actionsDataTable').DataTable({
			order: [0]
		});
		
		$('#emailsDataTable').DataTable({
			order: [],
			"columnDefs": [
				{ "width": "35px", "targets": 0, orderable: false }
			]
		});
	});
	</script>

</body>

</html>
