
<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>New Email Template</title>

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/fragments :: sidebar"></div>
	
    	<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

      	<!-- Main Content -->
      	<div id="content">

        	<div th:replace="fragments/fragments :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">New Email Templates</h1>
					<p class="mb-4">
						Create a new Email Template.
					</p>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">New Email
								Template</h6>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									
									<form class="user" th:object="${emailTemplate}" method="post" action="#" th:action="@{/addtemplate}" >
										<div class="form-group">
											<label class="col-form-label"><strong>Template Category:</strong></label>
											<select th:field="*{emailTemplateCategory}">
											    <option th:each="templateCategory : ${templateCategories}" th:value="${templateCategory.id}" th:text="${templateCategory.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												th:field="*{name}" placeholder="Template Name">
											<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="width: 100%;margin-top: .25rem;font-size: 80%;color: #e74a3b;">
											</div>
										</div>
										<div class="form-group">
											<textarea rows="10" th:field="*{bodyEnglish}" style="font-size: .8rem;padding: 1.5rem 1rem;" class="form-control" id="body" placeholder="Enter English Email Template Body"></textarea>
											<div th:if="${#fields.hasErrors('bodyEnglish')}" th:errors="*{bodyEnglish}" style="width: 100%;margin-top: .25rem;font-size: 80%;color: #e74a3b;">
											</div>
										</div>
										<div class="form-group">
											<textarea Lang="fa" rows="10" th:field="*{bodyArabic}" style="font-size: .8rem;padding: 1.5rem 1rem;direction:rtl" class="form-control" id="body" placeholder="ادخل نموذج البريد الالكتروني العربي"></textarea>
											<div th:if="${#fields.hasErrors('bodyArabic')}" th:errors="*{bodyArabic}" style="width: 100%;margin-top: .25rem;font-size: 80%;color: #e74a3b;">
											</div>
										</div>
										<span style="width: 100%;font-size: 60%;">use $1, $2, $3 ... for parameters</span>
										<input type="submit" class="btn btn-primary btn-user btn-block"
											value="Save" />
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Jarir Bookstore 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/fragments :: logoutModalFragment"></div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
	<script>
		//Dynamically add Parameters
		$(document).ready(function(e) {
			var paramCounter = 0;
			$('.addParam').on('click', function(){
				var row = '';
				row += '<div class="row">';
				row += '<div class="col-5">';
				row += '<label>Name</label>';
				row += '<input type="text" class="form-control" th:field="*{parameters['+paramCounter+'].name}"  />';
				row += '</div>';
				row += '<div class="col-5">';
				row += '<label>Value</label>';
				row += '<input type="text" class="form-control" th:field="*{parameters['+paramCounter+'].value}"  />';
				row += '</div>';
				row += '<div class="deleteRow col-2">';
				row += '<label>&nbsp;</label>';
				row += '<a class="form-control btn btn-md btn-danger">Delete</a>';
				row += '</div>';
				row += '</div>';
				paramCounter++;
				
				//$('#paramsDiv').append(row);
			});
			
		});
	
	</script>

</body>

</html>
