<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Email Resolutions</title>

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="fragments/fragments :: sidebar"></div>
	
    	<!-- Content Wrapper -->
    	<div id="content-wrapper" class="d-flex flex-column">

      	<!-- Main Content -->
      	<div id="content">

        	<div th:replace="fragments/fragments :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Manage Email Resolutions</h1>
					<p class="mb-4">
						Create, Edit or Delete Email Resolution.
					</p>
					<p>
						<a th:href="@{/newresolutionpage}" class="btn btn-primary btn-icon-split"> <span
							class="icon text-white-50"> <i style="line-height: unset;" class="fas fa-plus"></i>
						</span> <span class="text">New Resolution</span>
						</a>
					</p>
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Email Resolutions</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Edit</th>
											<th>Delete</th>
											<th>Name</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="resolution : ${resolutions}">
											<td><a th:href="@{/editresolution/{id}(id=${resolution.id})}" class="btn btn-circle btn-info"><i class="fas fa-edit"></i></a></td>
                                    		<td>
                                    			<a href="#" data-toggle="modal" th:data-deleteurl="@{/deleteresolution/{id}(id=${resolution.id})}" data-target="#deleteModal" class="btn btn-circle btn-danger"><i class="fas fa-times"></i></a>
                                    		</td>
											<td th:text="${resolution.name}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Jarir Bookstore 2019</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="fragments/fragments :: logoutModalFragment"></div>
	
	<!-- Logout Modal-->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Delete" below if you are sure</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" id="deleteUrl">Delete</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
	<script>
		$(document).ready(function() {
			$('#dataTable').DataTable({
				order: [],
				"columnDefs": [
					{ "width": "45px", "targets": 0, orderable: false },
		            { "width": "45px", "targets": 1, orderable: false }//,
// 		            { "width": "450px", "targets": 2},
// 		            { "width": "450px", "targets": 2}
				]
			});
			
			$("#dataTable").on("click", "td:nth-child(2) > a", function() {
				$('#deleteUrl').attr('href', $(this).data('deleteurl'));
			});
			
			$("#resolutionsNav").addClass('active');
			$("#configurationNavItem").addClass('active');
			$("#configurationMenu").trigger('click');
		});
	</script>

</body>

</html>
